<header>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
           
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="col-4 text-header d-none d-lg-block">
                <a href="#sobre-mim">
                    <span>SOBRE MIM</span>
                </a>
            </div>

            <div class="mx-auto">
                <a href="#">
                <img src="logoheader.png" alt="logo Thiago Huthiele" class="img-fluid logo-header">
            </a>
            </div>

            <div class="col-4 text-header d-none d-lg-block text-end">
                <a href="https://wa.me/5549999783630" target="_blank"> 
                <span>CONTATO</span>
            </a>
            </div>
        </div>

        <div class="collapse d-lg-none text-center mt-2" id="menuNav">
            <ul class="list-unstyled">
                <li><a href="#" class="nav-link">SOBRE MIM</a></li>
                <li><a href="https://wa.me/5549999783630" class="nav-link">CONTATO</a></li>
            </ul>
        </div>
    </div>
</header>
