<div class="footer-container">
    <div class="footer-column">
      <h3>Contato</h3>
      <p>(49) 99978-3630</p>
    </div>
  
    <div class="footer-column logo">
      <img src="footer.svg" alt="Logo" />
    </div>
  
    <div class="footer-column">
        <h3>Redes Sociais</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=100069722386033" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/thiagohuthiele/" target="_blank">
            <i class="fab fa-instagram"></i> 
          </a>
        </div>
      </div>
  </div>
  