<div class="container mt-5">
    <div class="row">

 
      <div class="col-md-6 about">
        <section id="sobre-mim">
        <h3>Sobre mim</h3>
        <p>Olá, sou <strong> Thiago Huthiele</strong>, corretor de imóveis e especialista no mercado imobiliário de Urubici e região.</p>
        <p>Com anos de experiência no setor, minha missão é conectar pessoas às melhores oportunidades, seja no campo ou na cidade. Atuo com imóveis rurais, sítios, chácaras, empreendimentos urbanos, apartamentos e casas.</p>
        <p>Mais do que vender imóveis, meu compromisso é garantir que cada cliente faça um investimento seguro e inteligente, com atendimento transparente, personalizado e baseado em confiança. Conheço a fundo as particularidades do mercado local e estou sempre buscando as melhores opções para atender às necessidades de quem deseja viver ou investir na Serra Catarinense.</p>
        <p>Seja para encontrar um refúgio na natureza, para morar, investir, ou apenas para entender mais sobre o mercado imobiliário, estou aqui para te ajudar. </p>

        <p><b>Vamos conversar?</b></p>
        </section>
      </div>

      <div class="col-md-6">
        <img src="thiagohuthiele.jpg" alt="Thiago Huthiele" class="img-fluid">
      </div>

    </div>
  </div>
  