.banner-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .banner-overlay {
    padding: 20px;
    border-radius: 8px;
  }
  


  .btn-contact:hover {
    background-color: #2c3e30;
  }

  @media (max-width: 768px) {
    .banner-container {
        font-size: 14px; /* Ajusta o tamanho da fonte para 14px */
        letter-spacing: 5px; /* Reduz o espaçamento entre as letras */
    }
}