.video-section {
    height: 100vh; /* Ocupa toda a altura da tela */
    display: flex;
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos */
    width: 100%;
    /* Aplicando dois backgrounds */
    background-image: linear-gradient(rgba(22, 30, 11, 0.6), rgba(22, 30, 11, 0.6)), url('banner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.no-gutters {
    display: flex;
    align-items: center; /* Mantém alinhado verticalmente */
    justify-content: center; /* Centraliza na horizontal */
    width: 100%;
}

.impact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Questrial", sans-serif;
    letter-spacing: 10px;
    font-size: 18px;
    height: 100%;
}

.impact-title h2 {
    padding: 60px;
    font-size: 22px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px; /* Limite para evitar que fique muito grande */
    height: auto; /* Permite ajuste automático */
    aspect-ratio: 16 / 9; /* Mantém a proporção correta */
    border-radius: 10px;
    overflow: hidden;
}


.video-wrapper iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .video-section {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .video-wrapper {
        max-width: 100%; /* Ocupa toda a largura disponível */
        height: auto; /* Ajuste dinâmico */
        aspect-ratio: 16 / 9; /* Mantém a proporção */
        padding: 0;
        margin: 20px 0;
    }
}
