<div class="video-section">
    <div class="row no-gutters">
        <!-- Coluna da esquerda para o banner, texto e botão -->
        <div class="col-lg-6 text-center">
            <div class="impact-title">
                <h2>SEU NOVO LAR EM <strong>URUBICI<br />COMEÇA AQUI</strong> </h2>
                <a href="https://wa.me/5549999783630" class="btn-contact" target="_blank">ENTRAR EM CONTATO</a>
            </div>
        </div>

        <!-- Coluna da direita para o vídeo -->
        <div class="col-lg-6">
            <div class="video-wrapper">
                <iframe src="https://player.vimeo.com/video/1066181381?h=4abe97be49&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                        title="Thiago Huthiele">
                </iframe>
            </div>
            
        </div>
    </div>
</div>